<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="app.js"></script>
</head>
<body>
    <div ng-app="myApp" ng-controller="myCtrl">
        <!--<div>
            <p>
                Name: <input type="text" ng-model="name" />
            </p>
            <p ng-bind="name"></p>
        </div>
        <div ng-init="firstName='Reinhardt'">
            <p>The name is <span ng-bind="firstName"></span></p>
        </div>
        <div>
            My first expression: {{ 5 + 5 }}
        </div>
        <div>
            <p>
                Name: <input type="text" ng-model="names" />
            </p>
            <p>{{names}}</p>
        </div>
        <div>
            First Name: <input type="text" ng-model="firstNames"/><br/>
            Last Name: <input type="text" ng-model="lastName"/><br/>
            <br/>
            Full Name: {{firstNames + " " + lastName}}
        </div>
        <div>
            
        </div>
        <script>
            var app = angular.module('myApp', []);
            app.controller('myCtrl', function ($scope) {
                $scope.firstName = "John";
                $scope.lastName = "Doe";
            });
        </script>-->
    </div>


</body>
</html>
